

.TITLE {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;    
    text-align: center;
    margin: 2% 5%;
    margin-top: 5%;
}

.imgVieuw {
    float:left;
    width: 68;
    height: 60%;
    overflow: hidden;
}

.gameInfo {
    margin: 2.5%;
    font-size: 1.3pc;    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;

    border: 2px solid black;
    border-radius: 15px;

    padding: 1%;

    min-width: 25%;
    max-width: 30%;
}

.gameInfoBlack {
    margin: 2.5%;
    font-size: 1.3pc;    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;

    border: 2px solid black;
    border-radius: 15px;

    padding: 1%;

    min-width: 25%;
    max-width: 30%;
}

.gameInfoBlack a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.gameInfo a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}


.gameInfoBlack a:hover {
    text-decoration: underline;
    color: black;
}

.gameInfo a:hover {
    text-decoration: underline;
    color: white;
}
