html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;
}

*{
    touch-action: none;
}

.center {
    text-align: center;
}

.spaceBetween {
    margin-top: 30px;
}

.title {
    color: #e67e22;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 5vw;
    margin-top: 5%;
}

.lowerZIndex {
    z-index: -1;
}

.subTitle {
    color: lightgray;
    font-size: 4vw;
}

.absoluteObject {
    position: relative;
}

.resize {
    overflow: hidden;
}


body {
    transition: top 1s;
}
x
