.scrollPart {
    background-color: orange;
    height: 800px;
    overflow-y: scroll;
}

.AboutText {
    font-size: 130%;
    padding: 5% 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.AboutText h1 {
    font-size: 150%;
}

.AboutText a {
    color: black;
}

.RotateLeft {
    margin-top: 18%;
    margin-left: 5%;
    position: relative;
    height: 13%;

    border-radius: 30%;
    
}

.RotateRight {
    margin-top: 18%;
    margin-right: 5%;
    float: right;
    position: relative;    
    height: 13%;

    border-radius: 30%;
    
}  

.jsShower {
    position: absolute;
    box-shadow: 0px 0px 50px rgb(243, 134, 48) ;
    overflow: hidden;
}

 .colmnBigRight {
    float: left;
    margin: 0;
    width: 80%;
    height: 800px;

}

#WorkSpace {
    z-index: -3;
}

div {
    /* inset shadow for visual aid only: allow to easily see the div boundaries */
}

.contact {
    font-size: 200%;
    padding: 5% 25%;    
    color : black;
    text-decoration: none;
}

#easterEgg {
    text-decoration: none;
    color: black;
    cursor: text;
}

