#home {
    background-color: rgb(73, 73, 73);

    top: -100%; 
    
    #home-slogan {
        position: absolute;
        
        font-weight: bold;
        font-size: 5vmax;

        left: 5vw;
        top: 25vh;
        transform: rotate(-30deg);
    }

    img {
        
        width: 40vmin;
        margin-left: 40vw;
        margin-top: 40vh;
        
        box-shadow: 0 0 10px 2px;

        perspective: 2px;

        transform: translateZ(50px) scale(1.5);
    }
}
#home:target {
    top: 0%;
}
