$buttonsWidth: 15vmin;
$buttonsDistanceMultiplier: 2;

$textColor: rgb(23, 125, 209);
// $textColor: rgb(0, 0, 0);
// $textColor: rgb(255, 255, 255);

$marginTop: 5vmin;
$marginSides: 3.5vmin;

#home {
    background-color: rgb(255, 255, 255);
    // background: linear-gradient(42deg, rgba(215,69,69,1) 0%, rgba(6,53,128,1) 53%, rgba(0,255,238,1) 100%);

    // background-image: url('./images/Cat and skateboard.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: exclusion;

    width: 100vw;
    height: 100vh;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0vh;
    margin-bottom: 0vh;

    color: $textColor;

    // transform: scale(1);
    opacity: 1;

    pointer-events: none;

    // transition: all .2s;
    // transition-delay: none;
    // transition: none;

    // transition-property: transform, opacity;
    // transition-duration: .4s;

    // #home-circle
    // {
    //     width: 130vmin;
    //     height: 130vmin;

    //     right: -32.5vw;
    //     top: -82.5vh;

    //     filter: none;

    //     transform: scale(0);
    // }

    // #home-circle:hover
    // {
    //     transform: scale(1);
    // }

    #home-container
    {
        //
    }

    #home-box
    {
        perspective: 800px;
        position: absolute;
        width: 10vmin;
        height: 10vmin;

        left: 40vw;
        top: 40vh;

        transform: rotate3d(1, 1, 1, 70deg);

        box-shadow: 0px 0px 1vmin;
    }

    #socials
    {
        // float: left;

        position: absolute;
        top: 92vmin;
        left: $marginSides;

        color: $textColor;

        font-size: 1.7vmin;

        a
        {
            text-decoration: none;
        }
    }

    
    #home-name
    {
        position: absolute;
        font-weight: lighter;
        font-size: 4vmin;

        // width: auto;

        margin: 0;
        padding: 0;

        margin-left: $marginSides;
        margin-top: $marginTop;

        transition: all .4s;

        pointer-events: auto;
    }

    img
    {
        position: absolute;
        opacity: 0;
        transition: opacity .4s;

        width: 20vmin;

        left: $marginSides;
        top: $marginTop;

        user-select: none;

        transform: scaleX(-1);

    }
    
    #home-slogan {
        position: absolute;
        
        font-weight: bolder;
        font-size: 4vmin;
        
        margin: 0;
        
        margin-left: $marginSides;
        margin-top: $marginTop + 5vmin;

        transition: margin-top .4s;
    }
    
    #home-button-view-projects, #home-button-view-about
    {
        float: right;

        margin: 0;

        margin-right: $marginSides;
        margin-top: $marginTop;

        color: $textColor;

        font-size: 4vmin;

        transition: all .4s;

        pointer-events: auto;
    }

    #home-button-view-about
    {
        margin-top: 0;
        clear: right;
    }

    #home-button-view-projects:hover ~ #home-button-down-arrow, #home-button-view-about:hover ~ #home-button-down-arrow, #home-name:hover ~ #home-button-down-arrow
    {
        top: 81vh;
    }   

    #home-button-view-projects:hover ~ #home-call-to-action, #home-button-view-about:hover ~ #home-call-to-action
    {
        opacity: 0;
    }

    #home-button-view-projects:hover ~ #home-call-to-action-projects
    {
        opacity: 1;
    }

    #home-button-view-about:hover ~ #home-call-to-action-about
    {
        opacity: 1;
    }

    #home-button-view-projects:hover, #home-button-view-about:hover
    {
        cursor: pointer;
    }

    #home-button-down-arrow, #home-call-to-action-projects, #home-call-to-action, #home-call-to-action-about
    {
        position: absolute;

        height: 20vh;

        text-align: center;
        
        width: 40%;
        margin-left: -20%;
        left: 50%;

        font-size: 5vmin;
        font-weight: lighter;

        top: 83vh;

        pointer-events: auto;

        transition: all .4s;


        // font-weight: bolder;
    }

    #home-button-down-arrow
    {
        animation: bounce .7s infinite alternate;
        animation-fill-mode: forwards;
    }

    @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-2vmin);
        }
      }
      @-webkit-keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-2vmin);
        }
      }

    #home-button-down-arrow:hover
    {
        cursor: pointer;
        font-size: 4vmin;
        font-weight: lighter;

        top: 83vh;

    }

    #home-call-to-action-projects, #home-call-to-action-about
    {
        font-size: 3vmin;
        font-weight: lighter;
        opacity: 0;
        pointer-events: none;

        transition-duration: .5s;

        top: 80vh;
    }

    #home-call-to-action
    {
        font-size: 2vmin;
        top: 84vh;
        font-weight: lighter;

        opacity: 1;

        pointer-events: none;

        font-style: italic;
    }

    #home-button-down-arrow:hover ~ #home-call-to-action-projects
    {
        opacity: 1;
    }

    #home-button-down-arrow:hover ~ #home-call-to-action
    {
        font-size: 1vmin;
        opacity: 0;
    }
    
    @media (max-aspect-ratio: 2/3)
    {
        #home-name, #home-slogan
        {
            font-size: 6vmin;
        }
        #home-slogan
        {
            margin-top: $marginTop + 8vmin;
        }

        #home-button-view-projects, #home-button-view-about
        {
            position: absolute;

            font-size: 5vmin;

            margin-top: 60vh;
            float: left;

            margin-left: $marginSides;
        }

        #home-button-view-about
        {
            margin-top: 60vh + 4vh;
        }
        
    }
   
}

#home:hover
{
    width: 95vw;
    height: 95vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    // background: yellow;
}


#home:target {
    top: 0%;
}
