#viewer-projects-overview
{
    background-color: rgb(19, 58, 70);
    position: absolute;
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    // #overview-title-highlight {
    //     color: white;

    //     font-size: 5vmin;

    //     margin-top: 5vmin;
    //     margin-bottom: 2vmin;;
    //     margin-left: 2vmin;
    // }
}

.overview-container-highlight
{
    // border-style: solid;
    border-radius: 20px;
    // box-shadow: 0px 0px 10px;

    margin-left: 2vw;

    float: left;

    width: 30vw;
    height: 10vw;

    overflow: hidden;

    box-shadow: 0 0 5px;

    img {
        width: 100%;
        // margin-top: -30%;
    }
}

.overview-container-highlight:hover
{
    cursor: pointer;
    transform: scale(.98);
}

.viewer-projects-separator
{
    height: 1px;

    margin: 3vmin;

    background-color: #eee;
}

#viewer-projects-filter-tags-container
{
    width: 80vw;
    margin: 10vw;

    margin-top: 20vmin;
    margin-bottom: 5vmin;

    .overview-categories-category-selector
    {
        border-radius: 1vmin;
    
        background-color: rgb(165, 165, 165);
        
        font-weight: 800;
    
        padding: 1vmin;
    
        margin: .5vmin;
    
        display: inline-block;
    
        border: none;
    }
    
    .overview-categories-category-selector:hover
    {
        cursor: pointer;
        transform: scale(.97);
    }
}

.overview-container-previewer
{
    // position: relative;

    width: 60vw;
    height: auto;

    margin-left: 20vw;
    margin-right: 20vw;

    clear: left;
    float: left;
    
    margin-top: 0vmin;

    background-color: #1d5e69;

    border-radius: 1vmin;

    box-shadow: 0 0 5px;

    .overview-container-project-preview
    {
        // width: 35vmin;
        // height: 35vmin;
    
        // border-style: solid;

        width: 30%;
        
        margin-top: 3vmin;
        margin-bottom: 2.5vmin;
    
        margin-left: 1.5vmin;
        margin-right: 0vmin;
    
        padding: 0px;

        float: left;
    
        overflow: hidden;

        .overview-container-project-preview-thumbnail
        {
            width: 100%;
            border-radius: 20px;

            // border-style: 

            float: left;

        }

        .overview-container-project-preview-thumbnail:hover
        {
            transform: scale(.99);
            cursor: pointer;
        }

        
        .overview-container-project-preview-infobar
        {
            width: 100%;
            padding-top: 5%;

            div, p
            {
                float: left;
    
                padding: 1.5%;
                margin-left: 2%;
                margin-top: 3%;
    
                font-size: 80%;
            }

            .overview-container-project-preview-name
            {
                // background-color: rgba(86, 98, 102, .2);
                border-radius: 0px;

                color: white;
    
                font-weight: 800;
                font-size: 3vmin;

                margin-top: -12%;

                margin-bottom: 0px;
            }

            @media (orientation: landscape) 
            {
                .overview-container-project-preview-name
                {
                    margin-top: -15%;

                    font-size: 120%;
                }

            }
    
            .overview-container-project-preview-tools, .overview-container-project-preview-themes
            {
                display: inline-block;
    
                width: auto;

                border-radius: .3vmin;

                padding: .4vmin;
                margin: .3vmin;

                font-weight: 800;

                font-size: 1.2vmin;

            }

            @media (orientation: portrait)
            {
                .overview-container-project-preview-tools, .overview-container-project-preview-themes
                {
                    font-size: 2.5vmin;
                    border-radius: .8vmin;
                }
            }

            .overview-container-project-preview-tools
            {
                background-color: rgb(109, 109, 109);
            }

            .overview-container-project-preview-themes
            {
                background-color: orangered;
            }
    
            .overview-container-project-preview-duration, .overview-container-project-preview-teamsize,
            .overview-container-project-preview-date
            {
                font-weight: 800;
                font-size: 1.5vmin;

                margin: 0;
                padding: .4vmin;

                /* For some reason the with is way to big by default */
                // width: 20%;

                color: rgb(255, 255, 255);

                background-color: darkgreen;

            }
    
            .overview-container-project-preview-duration, .overview-container-project-preview-date
            {
                clear: left;
            }

            @media (orientation: portrait)
            {
                .overview-container-project-preview-duration, .overview-container-project-preview-teamsize,
                .overview-container-project-preview-date
                {
                    font-size: 2.5vmin;

                }

                .overview-container-project-preview-date
                {
                    padding-top: .1vmin;
                }
            }
        }

    }

    @media (orientation: portrait)
    {
        .overview-container-project-preview
        {
            width: 80vw;
            margin-left: 10vw;
            margin-right: 10vw;
        
        }
    }

    
}

#viewer-projects-footer
{
    clear: left;
    height: 15vh;
    width: 100vw;

    p
    {
        text-align: center;

        color: white;

        font-size: 1vh;

        padding: 6vh;
    }
}

@media (orientation: portrait)
{
    .overview-container-previewer
    {
        margin-left: 0vw;
        margin-right: 0vw;
        width: 100vw;

    }
}
