#project-viewer-react-container
{
    position: fixed;
    top: 0;
    z-index: 1;

    margin-top: 0;

    width: 100vw;
    height: 100%;

    // overflow-y: scroll;
    overflow-x: hidden;

    top: 100vh;

    transition: all .3s ease-in-out;
    transition-property: top;

    // background-color: rgba(0, 0, 0, 0.418);

    color: rgb(207, 207, 207);

    // display: none;
    #project-viewer-backdrop    
    {
        position: fixed;

        transition: opacity .4s ease-in-out;

        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.527);
    }

    #project-viewer-container
    {
        display: block;
        
        width: 100vmin;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        transition: box-shadow .1s ease-in-out;
        
        
        .shadow-on-hover:hover
        {
            transform: scale(.72) !important;
        }
        .shadow-on-hover
        {
            box-shadow: 0vmin 0vmin .7vmin black;
        }
    
        #project-viewer-banner
        {
            display:  block;
            width: 100vmin; 
            height: 40vh;
            position: fixed;

            object-fit: cover;

            margin-top: -2vmin;

            user-select: none;
            -webkit-user-drag: none;

            transform: scale(.3);
            transition: all .2s ease-in-out;
            transition-property: transform, border-radius, filter, height, bottom;

            cursor: pointer;

            filter: brightness(80%);
        }
    
        #project-viewer-close-button
        {
            z-index: 1;
    
            position: fixed;

            display: none;
    
            margin: 1vmin;
            font-weight: bolder;
    
            border-radius: 20%;
            border-style: none;
            border-color: black;

            width: 5vmin;
            height: 5vmin;
            font-size: 4vmin;

            transition: transform .2s;
    
            background-color: rgb(110, 110, 110);
        }
        .project-viewer-close-button:hover
        {
            cursor: pointer;
        }
    
        #project-viewer-info-section
        {   
            position: relative;
            top: 35vh;
    
            display: block;

            width: 100vmin;
            
            margin-left: auto;
    
            // background-color: rgb(131, 145, 170);

            p {
                color: black;
            }
            
            .project-viewer-variable-section
            {
                height: 5vmin;

                // float: right;

                // margin-top: 5vh;
                padding-left: 10vmin;
                padding-right: 10vmin;
                
                width: 80vmin;

                // background-color: lightgray;

                height: 10vmin;
            }

            #project-viewer-moreInfoHover
            {
                border-radius: 5%;
                width: 90vmin;
                height: 1vh;
                
                position: absolute;
                left: 5vmin;


                // background-color: lightgray;

                z-index: 1;
                // margin-top: 5vh;
                transition: opacity .1s;

                text-align: center;
                color: black;

                font-size: 1.1vh;
            }

            #project-viewer-moreInfoHover:hover
            {
                opacity: 0;
                cursor: vertical-text;
            }

            #project-viewer-moreInfoHover:hover + .project-viewer-variable-section
            {
                // transform: scaleY(1);
                opacity: 1;
            }

            #project-viewer-moreInfoHover:hover ~ .project-viewer-title
            {
                margin-top: 8vh;
            }

            .project-viewer-variable-section
            {
                // transform: scaleY(0);
                opacity: 0;
                transition: all .3s;

                position: absolute;


                .project-viewer-variable-container
                {
                    width: 10vmin;
                    font-size: 1.5vmin;

                    text-align: center;

                    float: left;

                    padding-top: 1vmin;
                    margin-bottom: 1vmin;

                    .project-viewer-variable-title
                    {
                        color: rgb(124, 123, 123);
            
                        // margin-bottom: 1vmin;
                        margin-top: 0vmin;

                        margin: 0;

                        font-size: 1.7vmin;
                        font-weight: bolder;

        
                    }
        
                    .project-viewer-variable
                    {
                        // margin-top: 
                        font-size: 1.3vmin;
                        margin: 0;
                    }
                    .project-viewer-variable-line-between
                    {
                        width: 1px;
                        height: 5vmin;
                        
                        margin: 0;
    
                        margin-top: -5vmin;
    
    
                        float: left;
            
                        background-color: rgb(0, 0, 0);
                    }
                }
            }

            .project-viewer-title
            {
                transition: margin-top .3s;
                font-size: 13vmin;

                margin-bottom: 0;

                margin-top: 3vmin;
                margin-left: 4vmin;

                overflow-wrap: none;

                float: left;
            }
    

            .project-viewer-description
            {
                clear: left;
                margin-left: 5vmin;
                margin-right: 5vmin;

                width: 75vmin;
    
                font-weight: lighter;

                font-size: 1.3vmin;
    
                margin-bottom: 5vmin;
            }
    

            .project-viewer-context-title
            {
                width: 50vh;


                margin-top: 0;
                margin-right: 2vh;
                margin-bottom: 1vh;
    
                font-size: 6vh;
                // font-weight: bold;

                
                display: inline-block;
            }
    
            .project-viewer-context
            {
                width: 50vh;

                margin-right: 2vh;
                margin-top: 1vh;
    
                font-size: 2vh;
                // font-weight: bold;
    
                display: inline-block;
            }
    
            .project-viewer-image-1
            {
                object-fit: cover;

                width: 35vh;
                height: 35vh;
    
                margin-right: 5%;
    
                float: right;
    
            }

            .project-viewer-goal-line-between
            {
                width: auto;
                margin-left: 5vmin;
                margin-right: 5vmin;

                margin-top: 3vh;
                // margin-bottom: 3vh;
    
                height: 1px;
    
                background-color: rgba(224, 224, 224, 0.602);
            }

            .project-viewer-goal-title, .project-viewer-my-roll-title
            {
                width: 70vh;

                font-size: 6vh;
                // font-weight: bold;

                margin-top: 3vh;
                margin-bottom: 1vh;

                margin-left: 15vh;
                margin-right: 15vh;
            }

            .project-viewer-goal, .project-viewer-my-roll
            {
                font-size: 2vh;

                width: 70vh;

                margin-left: 15vh;
                margin-right: 15vh;
                margin-top: 1vh;
                margin-bottom: 0;
            }

            @media (orientation: portrait) {
                .project-viewer-goal, .project-viewer-goal-title, .project-viewer-my-roll-title, .project-viewer-my-roll
                {
                    margin-left: 20vw;
                    margin-right: 20vw;

                    width: 60vw;
                }
            }

            .project-viewer-video
            {
                clear: left;

                display: block;
    
                // height: 60vh;
                // height: 50vmin;
                width: 90vh;
                height: 50vh;
                // object-fit: scale-down;
    
                // margin-left: 20vw;
                // margin-right: 20vw;
                margin: auto;
    
                margin-top: 5%;
                // margin-bottom: 5vh;
    
                // border: none;
    
            }

            @media (orientation: portrait) {
                .project-viewer-context
                {
                    display: block;
                    width: 88vmin;
                }
                .project-viewer-image-1
                {
                    float: none;
                    width: 70vmin;
                    margin-left: 15vmin;
                }

                .project-viewer-video
                {
                    width: 70vw;
                    height: 40vw;
                }
            }
    
    
            .project-viewer-image-2
            {
                object-fit: cover;
    
                width: 40vh;
                height: 40vh;
    
                margin: 5vh;
                margin-top: 5vh;
    
                float: left;

                top: 0;
    
            }
    
            .project-viewer-whatWentGood-title
            {
                font-size: 6vh;
                margin-top: 5vh;

                margin-bottom: 0;
                margin-left: 5vh;
                margin-right: 5vh;

                padding: 0;

    
                // font-weight: bold;
            }
    
            .project-viewer-whatWentGood
            {
                margin-top: 1vw;
                margin-left: 6vh;
                margin-right: 5vh;
                font-size: 2vh;
            }
            
            .project-viewer-separatorElement
            {
                clear: left;
                width: 100vw;
                height: 1vh;
            }

            .project-viewer-titleBodyWrapper
            {
                float: left;

                width: 45vh;
                // height: 1vh;
                
                margin-left: 5vh;
                margin-right: 5vh;
                // margin-bottom: 5vh; 
            }

            
            .project-viewer-whatWentBad-title
            {
                margin: 0;
                font-size: 6vh;

                
                // font-weight: bold;
            }
            
            .project-viewer-whatWentBad
            {    
                margin: 0;
                
                margin-top: 1vh;
                margin-left: 1vh;

                margin-bottom: 4vh;

                font-size: 2vh;
            }
            
            .project-viewer-image-3
            {
                object-fit: cover;
                
                width: 40vh;
                height: 40vh; 
                
                margin-right: 5vh;
                
                float: right;
            }
            
            @media (orientation: portrait) 
            {
                .project-viewer-whatWentGood, .project-viewer-whatWentGood-title
                {
                    clear: left;
                }
                .project-viewer-image-2
                {
                    width: 50vw;
                    height: 50vw;

                    margin-left: 25vw;
                }

                .project-viewer-titleBodyWrapper
                {
                    width: 100vw;
                }
                .project-viewer-whatWentBad, .project-viewer-whatWentBad-title
                {
                    margin-right: 15vw;
                }
                .project-viewer-image-3
                {
                    width: 50vw;
                    height: 50vw;
                    float: left;
                    object-position: center;
                    margin-left: 25vw;
                    margin-top: 5vw;

                }
            }

            .project-viewer-separatorElement2
            {
                clear: right;
                width: 100vw;
                height: 0vh;
            }
    
            .project-viewer-whatILearned
            {
                margin: 5vmin;
                font-size: 2vmin;
                clear: left;
                clear: right;
                float: left;
    
            }
    
            .project-viewer-endresult
            {
                font-size: 5vmin;
    
                margin: 5vmin;
                margin-right: 40vmin;
            }
    
            #project-viewer-externalLink
            {
                display: flex;
                justify-content: center;
                text-align: center;
                text-decoration-line: none;

                background-color: rgba(213, 231, 218, 0);
                color: black;
                // font-weight: bolder;
                text-transform: uppercase;

                left: 50vw;
                margin-left: 25vmin;
                margin-right: 25vmin;
                margin-bottom: 9vh;
                margin-top: 10vh;
                object-position: center;

                transition: box-shadow .1s, padding .2s;
                box-shadow: .15vmin .15vmin .2vmin;
                
                font-size: 4vmin;
                border-radius: 3vmin;
                padding: 1.5vmin;

                // font-family: 'Open Sans';

                font-weight: bolder;
            }
            
            #project-viewer-externalLink:hover
            {
                box-shadow: .1vmin .1vmin 1vmin;
            }

            #project-viewer-externalLink:active
            {
                box-shadow: .1vmin .1vmin 0vmin;
            }

            .project-viewer-image-rest
            {
                display: block;
                height: auto;
                width: 75vmin;

                margin-top: 5vh;
    
                object-fit: scale-down;
                
                margin-left: auto;
                margin-right: auto;
            }

            #project-viewer-bottom-space
            {
                height: 10vh;
            }
            
        }
    }
}