$popup-speed: .3s;

@media (orientation: portrait) 
{
    #viewer-grid-popup:hover
    {
        top: -20vw;
    }
}

#viewer-grid-popup {

    position: absolute;

    background-color: white;

    width: 100vw;
    height: 50vmin;

    z-index: 1;

    padding: 1%;

    box-shadow: 0px 0px 15px;

    left: 0px;
    top: -45vw;


    transition: top $popup-speed;

    .viewer-grid-popup-image {
        background-color: rgb(102, 102, 102);
        height: 40vmin;
        width: 40vmin;

        position: relative;

        overflow: hidden;

        margin: 5vmin;

        .viewer-grid-popup-video
        {
            width: 100%;
            height: 100%;
        }

        float: left;
    }

    p {
        // float: left;
        word-wrap: break-word;

        margin-right: 3%;
    }

    .viewer-grid-popup-description {
        margin-left: 0px;
        margin-top: 3%;

        font-size: 5vmin;
        font-weight: 800;
    }

    .viewer-grid-popup-tags {

        margin-left: 0px;
        margin-top: 0px;

        font-size: 3vmin;

    }

    .viewer-grid-popup-linkToPost {

        font-size: 3vmin;

        font-weight: bolder;
    }

}

@media (orientation: landscape) {

    #viewer-grid-popup:hover
    {
        left: -30vh;
    }

    #viewer-grid-popup
    {
        transition: left $popup-speed;

        top: 0px;
        left: -40vh;

        width: 40vh;
        height: 100vh;

        .viewer-grid-popup-image {
            width: 35vh;
            height: 35vh;

            margin: 2.5vmin;
        }

        .viewer-grid-popup-description {
            margin-left: 5%;
            margin-top: 100%;
        }

        .viewer-grid-popup-tags {

            margin-left: 5%;
               
        }
    
        .viewer-grid-popup-linkToPost {
            margin-left: 5%;
        }
    }

    
}