#viewer-preview {

    position: absolute;
    top: 6vh;
    // box-shadow: 10px 0px 20px;

    width: 40vmin;
    height: 96vh;
    background-color: orange;

    z-index: 1;

    // visibility: hidden;

    .viewer-preview-image {
        background-color: rgb(16, 190, 147);
        height: 40vmin;
        width: 40vmin;

        border-radius: 20%;

        overflow: hidden;

        .viewer-preview-video
        {
            width: 100%;
            height: 100%;
        }

    }
}