.grid
{
    width: 40vw;
    height: 100vh;
}

#dailies
{
    cursor: grab;
    // background-color: rgb(142, 126, 235);
    background-color: rgb(219, 219, 219);
    margin-top: 6vh;
}

.element-grid
{
    position: absolute;
    background-color: rgb(16, 77, 175);
    border-radius: 50%;

    // border-style: solid;

    box-shadow: 0px 0px 20px rgb(87, 87, 87);

    overflow: hidden;

    #element-grid-image
    {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;

        top: 0px;
        left: 0px;
    }
}

.element-grid:hover
{
    cursor: pointer;
}