$popup-speed: .3s;

@media (orientation: portrait) 
{
    #grid-popup:hover
    {
        top: -30vw;
    }
}

#grid-popup {

    position: absolute;

    background-color: white;

    width: 100vw;
    height: 50vmin;

    z-index: 1;

    padding: 1%;

    box-shadow: 0px 0px 15px;

    left: 0px;
    top: -47vw;

    overflow-y: scroll;


    transition: top $popup-speed;

    .grid-popup-image {
        background-color: rgb(102, 102, 102);
        height: 40vmin;
        width: 40vmin;

        position: relative;

        overflow: hidden;

        margin: 5vmin;

        .grid-popup-video
        {
            width: 100%;
            height: 100%;
        }

        float: left;
    }

    p {
        // float: left;
        word-wrap: break-word;

        margin-right: 3%;
    }

    .grid-popup-description {
        margin-left: 0px;
        margin-top: 3%;

        font-size: 5vmin;
        font-weight: 800;
    }

    .grid-popup-tags {

        margin-left: 0px;
        margin-top: 0px;

        font-size: 3vmin;

    }

    .grid-popup-linkToPost {

        font-size: 3vmin;

        font-weight: bolder;
    }

    .grid-popup-pullout-down
    {
        position: absolute;

        font-weight: bolder;
        font-size: 3vw;

        left: 49.3vw;
        top: 85%;

        color: blue;

    }

    .grid-popup-pullout-right
    {
        display: none;
        color: blue;
    }

}

@media (orientation: landscape) {

    
    #grid-popup:hover
    {
        left: -30vh;
    }
    
    #grid-popup
    {
        transition: left $popup-speed;
        
        top: 0px;
        left: -39vh;
        
        width: 40vh;
        height: 100vh;
        
        .grid-popup-image {
            width: 35vh;
            height: 35vh;
            
            margin: 2.5vmin;
        }

        .grid-popup-description {
            margin-left: 5%;
            margin-top: 100%;
        }
        
        .grid-popup-tags {
            
            margin-left: 5%;
            
        }
        
        .grid-popup-linkToPost {
            margin-left: 5%;
        }

        .grid-popup-pullout-down
        {
            display: none;
        }
        
        .grid-popup-pullout-right
        {
            display: block;
            position: absolute;
        
            font-weight: bolder;
            font-size: 3vh;
        
            left: 96%;
            top: 43%;
        
        }
    }
    
    
}