#project-viewer
{
    position: absolute;

    top: 0;

    width: 100vw;
    height: 100%;

    // overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0px;

    background-color: black;

    color: rgb(207, 207, 207);

    display: none;

    .project-viewer-banner
    {
        width: 100%;
        position: fixed;
    }

    .project-viewer-close-button
    {
        z-index: 1;

        position: fixed;

        margin: 1vmin;
        font-weight: bolder;

        border-radius: 20%;
        width: 5vmin;
        height: 5vmin;
        font-size: 3vmin;

        background-color: rgb(110, 110, 110);
    }

    .project-viewer-info-section
    {   
        position: absolute;
        top: 40vmin;

        width: 100%;
        // height: 800%;

        background-color: rgb(59, 59, 59);
        

        .project-viewer-title
        {
            font-size: 15vmin;
            
            margin: 2vmin;

            margin-left: 5vmin;
        }

        .project-viewer-theme-container
        {
            float: right;

            margin-right: 4vmin;
        }

        .project-viewer-tool-container
        {
            border-style: solid;
            margin-right: 0px;
        }

        .project-viewer-tool, .project-viewer-theme
        {
            color: rgb(133, 133, 133);

            font-size: .8em;

            border-width: 1px;
        }

        .project-viewer-description
        {
            margin: 2vmin;
            margin-left: 4vmin;
            margin-right: 4vmin;

            font-weight: lighter;

            margin-bottom: 5vmin;
        }
        
        .project-viewer-variable-title
        {
            color: rgb(146, 146, 146);

            margin-left: 5vmin;

            margin-bottom: 1vmin;
        }

        .project-viewer-variable
        {
            margin-left: 5vmin;
            margin-top: 1vmin;
        }

        .project-viewer-variable-line-between
        {
            width: 90vw;
            margin-left: 5vmin;
            margin-right: 5vmin;

            height: 1px;

            background-color: rgb(224, 224, 224);
        }

        .project-viewer-context
        {

            width: 40vw;

            margin-left: 6vw;
            margin-right: 5vw;
            margin-top: 5vw;

            font-size: 2em;
            font-weight: bold;

            display: inline-block;
        }

        .project-viewer-image-1
        {
            object-fit: cover;

            width: 35vw;
            height: 35vw;

            margin-right: 10vw;
            margin-top: 3vw;

            float: right;

        }

        @media (orientation: portrait) {
            .project-viewer-context
            {
                display: block;
                width: 88vmin;
            }
            .project-viewer-image-1
            {
                float: none;
                width: 70vmin;
                margin-left: 15vmin;
            }
        }

        .project-viewer-video
        {
            iframe
            {
                clear: left;
    
                // height: 60vh;
                width: 60vw;
                // object-fit: scale-down;
    
                margin-left: 20vw;
                margin-right: 20vw;
    
                margin-top: 5vh;
                // margin-bottom: 5vh;
    
                border: none;
            }

        }

        .project-viewer-image-2
        {
            object-fit: cover;

            width: 40vw;
            height: 40vw;

            margin: 5vw;

            float: left;

        }

        .project-viewer-whatWentGood-title
        {
            font-size: 5vw;
            margin-top: 6vw;
            margin-bottom: 0;

            font-weight: bold;
        }

        .project-viewer-whatWentGood
        {
            margin-top: 1vw;
            font-size: 1em;
        }

        .project-viewer-whatWentBad-title
        {
            clear: left;

            width: 40vw;

            margin-right: 0;

            font-size: 5vw;
            margin-top: 6vw;
            margin-left: 5vw;
            margin-bottom: 0;

            font-weight: bold;
        }
        .project-viewer-whatWentBad
        {
            margin-left: 5vw;
            margin-right: 2vw;

            width: 42vw;

            display: inline-block;

            font-size: 1em;
        }

        .project-viewer-image-3
        {
            width: 42vw;
            height: 40vw;
            margin: 5vw;

            object-fit: cover;

            float: right;

            margin-top: 0;
            margin-left: 2vw;
            margin-top: -11vw;
        }

        .project-viewer-whatILearned
        {
            clear: right;
        }

        .project-viewer-whatILearned
        {
            margin: 5vmin;

        }

        .project-viewer-endresult
        {
            font-size: 6vmin;

            margin: 5vmin;
            margin-right: 40vmin;
        }

        .project-viewer-image-rest
        {
            width: 90vw;
            height: 90vw;

            object-fit: scale-down;
            
            margin-left: 5vw;
            margin-top: 5vh;
        }
        
    }
}