body {
    background: #efefef;
}

.Canvas {
    border-style: dashed;
    margin: 50px 20% 0 20%;
}

.Buttons {
    margin: 0px;
    padding: 20px;
    color: #696363;
}

.Buttons button {
    padding: 20px;
    margin: 20px;
    background: #ff6060;
    font: Sans-serif;
    border-radius: 50px;
}

.container {
    width: 70%;
}