/* Pages */
.page {
    position: absolute;
    overflow: hidden;

    width: 100%;
    height: 100%;

    transition: top $animation-speed;
}

/* All pages which are not the home page */
.content-page {
    @extend .page;

    transition: all $animation-speed;

    top: 100%;
    height: 0%;
}  
  