#loading-screen
{
    position: fixed;

    width: 100vw; 
    height: 100vh; 
    background-color: ghostwhite;

    z-index: 5;

    display: flex;
    justify-content: center;

    transition: all 1.2s;
    transition-timing-function: ease-out;

    text-align: center;

    p {
        margin-top: 45vh;
        font-size: 8vmin;
        font-weight: bolder;
        box-shadow: 0 0 20vmin black;
    }

    .loading-part
    {
        position: absolute;
        
        background-color: rgb(135, 87, 197);

        // box-shadow: 0 0 30px black;

        border-radius: 80%;

        animation-name: tryout;
        animation-duration: 1.7s;
        animation-timing-function: ease-in-out;

        animation-direction: alternate;
        animation-iteration-count: infinite;

        border-style: solid;
        border-width: 0vw;
        
        transition: all 1.2s;

        p {
            text-align: center;
            color: white;
            margin-top: 45%;

            font-weight: bolder;

            font-size: 100%;
        }

    }

    @keyframes tryout
    {
        from {
            
            transform: rotate(420deg);
            border-radius: 50%;
            
            width: 10vw;
            height: 10vw;
            
            // margin: 50vmin;
        }
        
        to {
            transform: rotate(0deg);
            border-radius: 0%;
    
            width: 100vw;
            height: 100vh;
    
            // margin: 0;
        }
    }
}
