#page-about {
    background-color: lightblue;
}
#page-projects {
    background-color: rgb(54, 54, 54);
}
#page-dailies {
    // background-color: rgb(142, 126, 235);
    background-color: rgb(219, 219, 219);
}