$primary-color: blue;
$animation-speed: .7s;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: static;

  background-color: rgb(165, 85, 85);   
  
  height: 100%;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: 'Roboto', sans-serif;

  transition-timing-function: ease-in-out;

  // user-select: none;
  
  -webkit-overflow-scrolling: touch;

  img
  {
    // background-color: lightgray;
  }
}


@import './general/loadingScreen.scss';

@import './general/navigationBar.scss';
@import './general/defaultPageSettigns.scss';

@import './home_page/homePage.scss';
@import './about_page/aboutPage.scss';

@import './grid_viewer/gridViewer.scss';
@import './grid_viewer/gridPopup.scss';
@import './grid_viewer/gridLoadingScreen.scss';

@import './timeline_viewer/timelineViewer.scss';

@import './list_viewer/listViewer.scss';
@import './projects_viewer/projectViewer.scss';