$primary-color: blue;
$animation-speed: .7s;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: static;

  background-color: rgb(168, 168, 168);

  height: 100%;

  font-family: 'Roboto', sans-serif;

  transition-timing-function: ease-in-out;

  user-select: none;
  
  -webkit-overflow-scrolling: touch;
}

@import './general/loadingScreen.scss';

@import './general/navigationBar.scss';
@import './general/defaultPageSettigns.scss';

@import './landing_page/landingPage.scss';
@import './about_page/aboutPage.scss';

@import './dailies_page/gridViewer.scss';
@import './dailies_page/gridPopup.scss';
@import './dailies_page/gridLoadingScreen.scss';

@import './projects_page/projectsOverview.scss';
@import './projects_page/projectViewer.scss';