$primary-color: blue;
$animation-speed: .7s;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: rgb(168, 168, 168);

  height: 100%;

  font-family: 'Roboto', sans-serif;

  transition-timing-function: ease-in-out;

  user-select: none;
  
  -webkit-overflow-scrolling: touch;
}

#loading-screen
{
  position: fixed;

  width: 100vw; 
  height: 100vh; 
  background-color: olive;

  z-index: 5;

  display: block;

  text-align: center;

  p {
    margin-top: 45vh;
    font-size: 8vmin;
    font-weight: bolder;
    box-shadow: 0 0 20vmin black;
  }

}

@import './navigationBar.scss';

@import './pages/defaultPageSettigns.scss';
@import './pages/homePage.scss';
@import './pages/aboutPage.scss';
@import './pages/otherPages.scss';

@import './viewers/gridViewer.scss';
@import './viewers/gridPopup.scss';

@import './viewers/projects/projectsOverview.scss';
@import './viewers/projects/projectViewer.scss';