$buttonsWidth: 15vmin;
$buttonsDistanceMultiplier: 2;

$textColor: rgb(19, 112, 189);

#home {
    background-color: rgb(255, 255, 255);
    // background: linear-gradient(rgb(207, 207, 207), white);
    color: $textColor;

    top: -100%; 

    #home-text-order-by
    {
        position: absolute;

        display: none;

        font-size: 1.6vmin;

        text-align: center;

        letter-spacing: .55vw;

        text-decoration: underline;
        
        left: 50vw;
        width: 15vw;
        margin-left: -7.5vw;

        top: 98vh;
        height: 10vmin;
        margin-top: -5vmin;
    }

    #home-dropdown-order-by
    {
        position: absolute;

        font-size: 1.2vmin;
        font-weight: thin;

        left: 50vw;
        width: 15vmin;
        margin-left: -7.5vmin;

        top: 93.5vh;
        // height: 5vmin;
        margin-top: -2.5vmin;

        text-align-last: center;

        border-width: .01vw;
        border-color: $textColor;
        background-color: transparent;
        // color: white;
        color: $textColor;

        option
        {
            color: $textColor;
            text-align: center;
        }
    }

    @media (max-aspect-ratio: 2/3)
    {
        #home-text-order-by
        {
            font-size: 3vmin;

            width: 40vw;
            margin-left: -20vw;
        }
        #home-dropdown-order-by
        {
            top: 95vh;
            font-size: 3vmin;

            width: 30vw;
            margin-left: -15vw;
        }

        #home-text-view-as
        {
            top: 38vh;
        }

    }
    
    #home-button-list, #home-button-timeline, #home-button-grid
    {
        cursor: pointer;
        position: absolute;

        font-size: 2.5vmin;
        font-weight: lighter;

        border-radius: 10vmin;
        border: none;

        width: $buttonsWidth;
        left: 50vw;

        top: 65vh;

        background-color: none; //rgb(76, 75, 126);
        background: none;
        color: $textColor;

        user-select: none;

        @media (pointer: fine)
        {
            .home-button-hover-text
            {
                opacity: 0;
    
                margin-top: 0;
                transition: opacity .3s;
            }
    
            .home-button-standard-text
            {
                margin-bottom: 0;
                transition: margin-top .3s;

                // text-align: left;
            }
        }

        @media(pointer: coarse)
        {
            .home-button-standard-text
            {
                opacity: 0;
            }
        }

    }

    @media (pointer: fine)
    {
        #home-button-list:hover > .home-button-hover-text,
        #home-button-timeline:hover > .home-button-hover-text, 
        #home-button-grid:hover > .home-button-hover-text
        {
            opacity: 1;
        }

        #home-button-timeline:hover > #home-icon-timeline,
        #home-button-grid:hover > #home-icon-grid,
        #home-button-list:hover > #home-icon-list
        {
            opacity: 1;
            margin-top: -12.5vh;
        }

        
        #home-button-list:hover > .home-button-standard-text, 
        #home-button-timeline:hover > .home-button-standard-text, 
        #home-button-grid:hover > .home-button-standard-text
        {
            opacity: 0;
            margin-top: -.2vmin;
        }
    }

    #home-icon-timeline, #home-icon-list, #home-icon-grid
    {
        position: absolute;

        margin: 0;
        height: auto;

        margin-top: -8.5vh;

        top: 12vh;

        box-shadow: none;
        
        -webkit-user-drag: none;
        user-select: none;
        
        @media (pointer: fine)
        {
            opacity: 0;
            transition: opacity .3s, margin-top .3s;
        }
    }


    #home-button-list
    {
        margin-left: (-$buttonsWidth * .5) - $buttonsDistanceMultiplier * $buttonsWidth;
    }
    $listIconWidth: $buttonsWidth * .16;
    #home-icon-list
    {
        width: $listIconWidth;
        margin-left: -$listIconWidth * .5;
    }

    #home-button-timeline
    {
        margin-left: (-$buttonsWidth * .5);
    }
    $timelineIconWidth: $buttonsWidth * 1.3;
    #home-icon-timeline
    {
        // top: 71vh;
        width: $timelineIconWidth;
        margin-left: -$timelineIconWidth / 2;
    }

    #home-button-grid
    {
        margin-left: (-$buttonsWidth *.5) + $buttonsDistanceMultiplier * $buttonsWidth;
    }
    $gridIconWidth: $buttonsWidth * .2;
    #home-icon-grid
    {
        width: $gridIconWidth;
        margin-left: -$gridIconWidth * .5;
    }


    @media (max-aspect-ratio: 5/6) 
    {
        #home-button-list, #home-button-timeline, #home-button-grid
        {
            float: left;

            font-size: 2.5vh;
            
            left: 0;
            width: 70vw;
            margin-left: 12vw;

            height: 10vh;

            @media (pointer: course)
            {
                // position: absolute;
            }
        }

        #home-icon-list, #home-icon-timeline, #home-icon-grid
        {
            @media (pointer: course)
            {
                margin-top: 15vmin;
            }
        }

        #home-icon-list #home-icon-timeline, #home-icon-grid
        {
            margin-left: 0;
        }

        #home-button-list
        {
            top: 40vh;
        }
        #home-icon-list
        {
            width: 2vh;
            margin-left: -1vh;

        }

        #home-button-timeline
        {
            top: 54vh;
        }
        #home-icon-timeline
        {
            width: 20vh;
            margin-left: -10vh;

        }

        #home-button-grid
        {
            top: 67vh;
        }
        #home-icon-grid
        {
            width: 2vh;
            margin-left: -1vh;
        }
    }

    #home-name
    {
        position: absolute;

        font-weight: lighter;
        font-size: 4vmin;

        left: 50vw;
        top: 25vmin;

        width: 30vmin;
        margin-left: -25vmin - 12vmin;

        height: 10vmin;

        #home-name-text
        {
            transition: opacity .3s, margin-top .3s;
        }

        #home-name-hover
        {
            opacity: 0;
            transition: opacity .3s, margin-top .3s;

            margin-top: -2vmin;

            width: 10vw;

            @media (max-aspect-ratio: 2/3)
            {
                margin-top: -9vh;
            }
        }
    }
    #home-name:hover
    {
        cursor: pointer;
    }
    #home-name:hover > #home-name-text
    {
        cursor: pointer;
        opacity: 0;
        margin-top: -.1vmin;
    }
    #home-name:hover > #home-name-hover
    {
        opacity: 1;
        margin-top: -5vmin;
    }
    
    #home-slogan {
        position: absolute;
        
        font-weight: bold;
        font-size: 4vmin;

        left: 50vw;
        top: 30vmin;

        width: 50vmin;
        margin-left: -25vmin - 12vmin;
    }

    @media (max-aspect-ratio: 2/3)
    {
        #home-name, #home-slogan
        {
            font-size: 8vmin;
        }

        #home-name
        {
            top: 20vmin;
            width: 25vh;
        }

        #home-name:hover > #home-name-text
        {
            margin-top: -.1vh;
        }
        #home-name:hover > #home-name-hover
        {
            margin-top: -9vmin;
        }
    }

    img {
        
        width: 40vmin;
        margin-left: 40vw;
        margin-top: 40vh;
        
        box-shadow: 0 0 10px 2px;

        perspective: 2px;

        transform: translateZ(50px) scale(1.5);
    }
}
#home:target {
    top: 0%;
}
