$buttonsWidth: 15vmin;
$buttonsDistanceMultiplier: 2;

$textColor: rgb(19, 112, 189);

#home {
    // background-color: rgb(255, 255, 255);
    background: linear-gradient(rgb(207, 207, 207), white);
    color: $textColor;

    top: -100%; 

    #home-text-order-by
    {
        position: absolute;

        font-size: 4vmin;
        
        left: 50vw;
        width: 30vmin;
        margin-left: -15vmin;

        top: 25vh;
        height: 10vmin;
        margin-top: -5vmin;
    }

    #home-dropdown-order-by
    {
        position: absolute;

        font-size: 1.6vmin;
        font-weight: thin;

        left: 50vw;
        width: 15vw;
        margin-left: -7.5vw;

        top: 93vh;
        // height: 5vmin;
        margin-top: -2.5vmin;

        text-align-last: center;

        border-width: 0;
        background-color: transparent;
        // color: white;
        color: $textColor;

        option
        {
            color: $textColor;
            text-align: center;
        }
    }

    #home-text-view-as
    {
        position: absolute;

        font-size: 8vmin;

        text-align: center;

        height: 10vh;
        top: 35vh;

        left: 50vw;
        width: 60vmin;
        margin-left: -30vmin;
    }

    @media (orientation: portrait)
    {
        #home-dropdown-order-by
        {
            top: 95vh;
            font-size: 1.8vmin;
        }
        #home-text-view-as
        {
            top: 25vh;

            font-size: 5vh;
        }
    }

    #home-button-list, #home-button-timeline, #home-button-grid, #home-icon-timeline, #home-icon-list, #home-icon-grid:hover
    {
        cursor: pointer;
    }

    #home-button-list, #home-button-timeline, #home-button-grid
    {
        position: absolute;

        font-size: 2.5vmin;
        font-weight: lighter;

        border-radius: 10vmin;
        border: none;

        width: $buttonsWidth;
        left: 50vw;

        top: 65vh;

        background-color: none; //rgb(76, 75, 126);
        background: none;
        color: $textColor;

        user-select: none;
    }

    #home-icon-timeline, #home-icon-list, #home-icon-grid
    {
        margin: 0;

        position: absolute;

        height: auto;

        left: 50vw;

        box-shadow: none;

        top: 70vh;

        -webkit-user-drag: none;
        user-select: none;
    }

    #home-button-list
    {
        margin-left: (-$buttonsWidth * .5) - $buttonsDistanceMultiplier * $buttonsWidth;
    }
    $listIconWidth: $buttonsWidth * .16;
    #home-icon-list
    {
        width: $listIconWidth;
        margin-left: -$listIconWidth / 2 - $buttonsDistanceMultiplier * $buttonsWidth;
    }

    #home-button-timeline
    {
        margin-left: (-$buttonsWidth / 2);
    }
    $timelineIconWidth: $buttonsWidth * 1.3;
    #home-icon-timeline
    {
        top: 71vh;
        width: $timelineIconWidth;
        margin-left: -$timelineIconWidth / 2;
    }

    #home-button-grid
    {
        margin-left: (-$buttonsWidth *.5) + $buttonsDistanceMultiplier * $buttonsWidth;
    }
    $gridIconWidth: $buttonsWidth * .2;
    #home-icon-grid
    {
        width: $gridIconWidth;
        margin-left: -$gridIconWidth / 2 + $buttonsDistanceMultiplier * $buttonsWidth;
    }


    @media (max-aspect-ratio: 5/6) 
    {
        #home-button-list, #home-button-timeline, #home-button-grid
        {
            float: left;

            font-size: 2.5vh;
            
            left: 0;
            width: 80vw;
            margin-left: 10vw;

            height: 10vh;
        }

        #home-icon-list #home-icon-timeline, #home-icon-grid
        {
            margin-left: 0;
        }

        #home-button-list
        {
            top: 40vh;
        }
        #home-icon-list
        {
            width: 2vh;
            margin-left: -1vh;

            top: 48vh;
        }

        #home-button-timeline
        {
            top: 54vh;
        }
        #home-icon-timeline
        {
            width: 20vh;
            margin-left: -10vh;

            top: 63vh;
        }

        #home-button-grid
        {
            top: 67vh;
        }
        #home-icon-grid
        {
            width: 2vh;
            margin-left: -1vh;
            top: 75vh;
        }
    }

    #home-name
    {
        position: absolute;

        font-weight: lighter;
        font-size: 4vmin;

        left: 50vw;
        top: 25vmin;

        width: 50vmin;
        margin-left: -25vmin - 7vmin;
    }
    #home-name:hover
    {
        cursor: pointer;
    }
    
    #home-slogan {
        position: absolute;
        
        font-weight: bold;
        font-size: 4vmin;

        left: 50vw;
        top: 30vmin;

        width: 50vmin;
        margin-left: -25vmin - 7vmin;
    }

    @media (max-aspect-ratio: 2/3)
    {
        #home-name, #home-slogan
        {
            font-size: 8vmin;
        }

        #home-name
        {
            top: 20vmin;
        }
    }

    img {
        
        width: 40vmin;
        margin-left: 40vw;
        margin-top: 40vh;
        
        box-shadow: 0 0 10px 2px;

        perspective: 2px;

        transform: translateZ(50px) scale(1.5);
    }
}
#home:target {
    top: 0%;
}
