$animation-speed: .7s;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: static;

  background-color: rgb(57, 144, 214);
  
  height: 100%;
  
  font-family: 'Open Sans';
  font-family: 'Lora', serif;

  transition-timing-function: ease-in-out;

  
  -webkit-overflow-scrolling: touch;

  img
  {
    // background-color: lightgray;
  }
}

/* Pages */
.page {
  position: absolute;
  overflow: hidden;

  width: 100%;
  height: 100%;

  transition: top .7s;
}

/* All pages which are not the home page */
.content-page {
  @extend .page;

  transition: all .7s;

  top: 100%;
  height: 0%;

}  


@import './pages/loading_screen/loadingScreen.scss';

@import './misc/navigationBar.scss';
@import './misc/defaultPageSettings.scss';

@import './pages/home_page/homePage.scss';
@import './pages/about_page/aboutPage.scss';

@import './viewers/circle_viewer/circleViewer.scss';

@import './viewers/grid_viewer/gridViewer.scss';
@import './viewers/grid_viewer/gridPopup.scss';
@import './viewers/grid_viewer/gridLoadingScreen.scss';

@import './viewers/range_viewer/rangeViewer.scss';

@import './viewers/list_viewer/listViewer.scss';
@import './viewers/project_viewer/projectViewer.scss';