$primary-color: blue;
$animation-speed: .7s;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: static;

  background-color: orangered;
  
  height: 100%;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: 'Roboto', sans-serif;

  transition-timing-function: ease-in-out;

  // user-select: none;
  
  -webkit-overflow-scrolling: touch;

  img
  {
    // background-color: lightgray;
  }
}

/* Pages */
.page {
  position: absolute;
  overflow: hidden;

  width: 100%;
  height: 100%;

  transition: top .7s;
}

/* All pages which are not the home page */
.content-page {
  @extend .page;

  transition: all .7s;

  top: 100%;
  height: 0%;

}  


@import './loading_screen/loadingScreen.scss';

@import './nav-bar/navigationBar.scss';
@import './misc/defaultPageSettigns.scss';

@import './home_page/homePage.scss';
@import './about_page/aboutPage.scss';

@import './grid_viewer/gridViewer.scss';
@import './grid_viewer/gridPopup.scss';
@import './grid_viewer/gridLoadingScreen.scss';

@import './timeline_viewer/timelineViewer.scss';

@import './list_viewer/listViewer.scss';
@import './project_viewer/projectViewer.scss';