$buttonsWidth: 15vmin;
$buttonsDistanceMultiplier: 2;

$textColor: rgb(23, 125, 209);

$marginTop: 5vmin;
$marginSides: 3.5vmin;

#home {
    background-color: rgb(255, 255, 255);
    // background: linear-gradient(42deg, rgba(215,69,69,1) 0%, rgba(6,53,128,1) 53%, rgba(0,255,238,1) 100%);

    color: $textColor;
    top: -100%; 

    #home-container
    {
        //
    }

    #socials
    {
        // float: left;

        position: absolute;
        top: 94vh;
        left: 2vmin;

        color: $textColor;

        font-size: 1.7vmin;

        a
        {
            text-decoration: none;
        }
    }

    
    #home-name
    {
        position: absolute;
        font-weight: lighter;
        font-size: 4vmin;

        // width: auto;

        margin: 0;
        padding: 0;

        margin-left: $marginSides;
        margin-top: $marginTop;

    }
    #home-name:hover
    {
        cursor: pointer;
    }
    
    #home-slogan {
        position: absolute;
        
        font-weight: bolder;
        font-size: 4vmin;
        
        margin: 0;
        
        margin-left: $marginSides;
        margin-top: $marginTop + 5vmin;
    }
    
    #home-button-view-projects, #home-button-view-about
    {
        float: right;

        margin: 0;

        margin-right: $marginSides;
        margin-top: $marginTop;

        color: $textColor;

        font-size: 3vmin;
    }

    #home-button-view-about
    {
        margin-top: 0;
    }

    #home-button-view-about
    {
        clear: right;
    }

    #home-button-view-projects:hover, #home-button-view-about:hover
    {
        cursor: pointer;
    }
    
    @media (max-aspect-ratio: 2/3)
    {
        #home-name, #home-slogan
        {
            font-size: 7vmin;
        }
        #home-slogan
        {
            margin-top: $marginTop + 8vmin;
        }

        #home-button-view-projects, #home-button-view-about
        {
            position: absolute;

            font-size: 5vmin;

            margin-top: 60vh;
            float: left;

            margin-left: $marginSides;
        }

        #home-button-view-about
        {
            margin-top: 60vh + 4vh;
        }
        
    }

    #home-text-order-by
    {
        position: absolute;

        display: none;

        font-size: 1.6vmin;

        text-align: center;

        letter-spacing: .55vw;

        text-decoration: underline;
        
        left: 50vw;
        width: 15vw;
        margin-left: -7.5vw;

        top: 98vh;
        height: 10vmin;
        margin-top: -5vmin;
    }

    #home-dropdown-order-by
    {
        position: absolute;

        font-size: 1.2vmin;
        font-weight: thin;

        left: 50vw;
        width: 15vmin;
        margin-left: -7.5vmin;

        top: 93.5vh;
        // height: 5vmin;
        margin-top: -2.5vmin;

        text-align-last: center;

        border-width: .01vw;
        border-color: $textColor;
        background-color: transparent;
        // color: white;
        color: $textColor;

        option
        {
            color: $textColor;
            text-align: center;
        }
    }

    @media (max-aspect-ratio: 2/3)
    {
        #home-text-order-by
        {
            font-size: 3vmin;

            width: 40vw;
            margin-left: -20vw;
        }
        #home-dropdown-order-by
        {
            top: 95vh;
            font-size: 3vmin;

            width: 30vw;
            margin-left: -15vw;
        }

        #home-text-view-as
        {
            top: 38vh;
        }

    }
}
#home:target {
    top: 0%;
}
